.App {
  text-align: center;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a{
  text-decoration: none;
  color: aqua;

}
a:visited{
  color: aqua;
}

a:active{
  color: aqua;
}

a:hover{
  color: aqua;
  text-decoration: none;
}